body {
  background-color: rgb(247, 236, 225);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 1rem 4rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 5px 2px rgb(149, 145, 145);
  padding: 1.5rem 2rem;
}

.logo {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(142, 141, 190);
  text-decoration: white 0.5rem underline;
  text-underline-offset: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.form-group > label {
  color: #777;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.btn {
  background-color: rgb(142, 141, 190);
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(106, 106, 161);
}

.card-grid {
  display: grid;
  align-items: center;
  /* repeat our columns so it scales to automatically fill the space with elements. at a minimum, itll be 200px wide, otherwise, it will grow to whatever remaining size there is*/
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  background-color: rgb(158, 158, 187);
  /* preserves our 3d animation. things in the front, go to the back. things in the back, go to the front*/
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card:hover {
  /* translate-y moves it up 2 pixels */
  --translate-y: -3px;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  /* backface-visibility to hidden means that it will hide anything that is backwards  */
  backface-visibility: hidden;
}

.card .back {
  /* transform will flip the answers backwards to get the flip effect with backface-visibility to hidden(like a real card)*/
  transform: rotateY(180deg);
  /* hidden  */
}

.flashcard-options {
  margin-top: 0.5rem;
}

.flashcard-option {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.75rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}

.form-group > select,
input {
  border-radius: 0.25rem;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* MEDIA QUERIES */

@media (min-width: 700px) {
  .header {
    gap: 5rem;
  }
}

@media (min-width: 950px) {
  .header {
    gap: 10rem;
  }

  .logo {
    font-size: 3rem;
  }
}
@media (min-width: 1250px) {
  .header {
    gap: 20rem;
  }

  .logo {
    font-size: 4rem;
  }
}

@media (min-width: 1500px) {
  .header {
    gap: 10rem;
  }

  .logo {
    font-size: 4.5rem;
    text-decoration: white 0.75rem underline;
    text-underline-offset: 0.5rem;
  }

  .form-group-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .form-group {
    width: 150px;
  }
}

@media (min-width: 1850px) {
  .header {
    gap: 18rem;
  }

  .form-group-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .form-group {
    width: 200px;
  }
}
